/* https://stackoverflow.com/a/47698201/4564359 */

.course-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 14rem);
}

.selected {
  background-color:lemonchiffon;
  color: green;
}

/* .conflict{

} */